header{
    
    width: 100%;
    min-height: 10vh;
    background-color: #8236ab;
    color: aliceblue;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}